!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Raindrops
    = csrf_meta_tags
    = action_cable_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Old+Standard+TT", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = yield :css
  %body
    %header
      %section
        %h1
          Raindrops
        %p
          %span.marginnote
            %em
              Raindrops on roses and whiskers on kittens,
              %br
              bright copper kettles and warm woolen mittens,
              %br
              brown paper packages tied up with strings,
              %br
              these are a few of my favorite things.
    %nav
      %ul
        %li
          =link_to "Home", root_path
        - if logged_in?
          %li
            =link_to "Me", person_path(current_user)
          %li
            =link_to "Log out", signout_path, :method => :delete
        - else
          %li
            =link_to "Sign up", signup_path
          %li
            =link_to "Sign in", signin_path
    %article.main
      = yield
    = javascript_include_tag 'application'
