!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Raindrops
    = csrf_meta_tags
    = action_cable_meta_tag
    %link{:href => "https://fonts.googleapis.com/css?family=Old+Standard+TT", :rel => "stylesheet"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = yield :css
  %body
    .pos-f-t
      #navbar-header.collapse
        .container-fluid.bg-inverse
          Stuff up here?
      .navbar.navbar-static-top
        %button.btn.navbar-toggler{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbar-header"}
          &#9776;
        %a.navbar-brand
          Raindrops
    .container
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      = yield
    = javascript_include_tag 'application'
